<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Restablecer contraseña</title>
  </head>
  <body>
    <p>Hola {{ user.name }}:</p>
    <p>¿Problemas para iniciar sesión?</p>
    <p>Restablecer la contraseña es fácil.</p>
    <p>
      Si es usted y desea cambiar su contraseña, solo haga clic en el botón
      abajo:
    </p>
    <p>Lo pondremos al día enseguida.</p>
    <br />
    <button
      href="{{ reset_url }}"
      style="
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      "
    >
      Restablecer Contraseña
    </button>
    <p>También puede copiar y pegar en su navegador el siguiente link:</p>
    {{ reset_url }}

    <p>Si no fue usted, por favor ignore este correo.</p>
    <p>Atentamente,</p>
    <p>Pandevida</p>
  </body>
</html>
